<h1>Mongo Express Example App</h1>

<p>View data from mongodb <a href="/data">here</a>!</p>

<form action="/data" method="post" class="form-example">
    <div class="form-example">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form-example">
        <label for="age">Age: </label>
        <input type="number" name="age" id="age" required>
    </div>
    <div class="form-example">
        <label for="nationality">Nationality: </label>
        <input type="text" name="nationality" id="nationality" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Submit">
    </div>
</form>